.notificationContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 300px;
  padding: 0 10px;
  color: white;
  transition: 0.3s;
  pointer-events: none;
}

.notification {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 15px;
  border: 1px solid transparent;
  pointer-events: all;
}

.success {
  background-color: var(--c-primary);
}

.error {
  background-color: #E74C3C;
}

.close {
  all: unset;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .notificationContainer {
    left: 0;
    width: 100vw;
  }

  .notification {
    flex: 1;
  }

  .close {
    font-size: 32px;
  }
}
