.notificationContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 300px;
  padding: 0 10px;
  transition: 0.3s;
  pointer-events: none;
}

.notification {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 15px;
  border: 1px solid transparent;
  pointer-events: all;
}

.success {
  background-color: #D1E7DD;
  border-color: #BADBCC;
}

.error {
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.close {
  all: unset;
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}
