.successCheckmark {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.checkIcon {
  position: relative;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.iconLine {
  position: absolute;
  z-index: 10;
  display: block;
  height: 5px;
  background-color: white;
  border-radius: 2px;
}

.lineTip {
  top: 22px;
  left: 7px;
  width: 12px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.lineLong {
  top: 19px;
  right: 4px;
  width: 23px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    top: 9px;
    left: 1px;
    width: 0;
  }

  54% {
    top: 9px;
    left: 1px;
    width: 0;
  }

  70% {
    top: 20px;
    left: -8px;
    width: 30px;
  }

  84% {
    top: 24px;
    left: 10px;
    width: 8px;
  }

  100% {
    top: 22px;
    left: 7px;
    width: 12px;
  }
}

@keyframes icon-line-long {
  0% {
    top: 27px;
    right: 23px;
    width: 0;
  }

  65% {
    top: 27px;
    right: 23px;
    width: 0;
  }

  84% {
    top: 17px;
    right: 0;
    width: 27px;
  }

  100% {
    top: 19px;
    right: 4px;
    width: 23px;
  }
}
