.gridContainer {
  display: grid;
  grid-template-columns:
    [gallery-start] 5vw [gallery-end] 42px
    [selected-image-start] 7fr [selected-image-end] 100px
    [product-description-start] 6fr [product-description-end];
  padding-top: 72px;
}

@media only screen and (max-width: 950px) {
  .gridContainer {
    grid-template-columns:
      [gallery-start] 5vw [gallery-end] 21px
      [selected-image-start] 7fr [selected-image-end] 40px
      [product-description-start] 6fr [product-description-end];
  }
}

@media only screen and (max-width: 850px) {
  .gridContainer {
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    gap: 40px;
    padding-top: 32px;
  }
}
