.product {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  transition: all 0.5s ease-out 0.4s;
}

.product:hover {
  box-shadow: 0 4px 35px rgb(168 172 176 / 19%);
}

.outOfStockOverlay {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.5;
}

.overlayText {
  position: absolute;
  top: 38%;
  right: 0;
  left: 0;
  display: inline-block;
  color: #8D8F9A;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
}

.name {
  display: block;
  padding-top: 24px;
  font-weight: 300;
  font-size: 18px;
}

.price {
  font: var(--price-regular-font);
}

.image {
  width: 25vw;
  height: 24vw;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.addToCartButton {
  position: absolute;
  right: 31px;
  bottom: 72px;
  z-index: 0;
  opacity: 0;
  transition: all 0.6s ease-out 0.8s;
}

.product:hover .addToCartButton {
  opacity: 1;
}
