.overlay {
  /* because we already have z-index set in overlay component; */
  z-index: -1 !important;
  background: rgb(57 55 72 / 22%);
}

.container {
  display: flex;
  box-sizing: border-box;
}

.loginButton,
.cart,
.user {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.shopIconContainer {
  position: absolute;
  left: 50%;
}

.currencySelect,
.loginButton,
.cart,
.user {
  margin-right: 22px;
}

/* .cart {
  fill: #43464E;
} */

.notificationBadge {
  position: absolute;
  top: -6px;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 15px;
  background: black;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .cart,
  .user,
  .shopIconContainer,
  .overlay {
    display: none;
  }
}
