.overlayColor {
  background: rgba(57, 55, 72, 0.22);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 117px;
  background: white;
  z-index: 2;
}

.container {
  display: flex;
  width: 15%;
}

.genderButton, .cartIconButton, .userIconButton {
  all: unset;
  cursor: pointer;
}

.genderButton {
  position: relative;
  margin-right: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.selectedGenderButton {
  color: var(--c-primary);
  font-weight: 600;
}

.selectedGenderButton::after {
  position: absolute;
  height: 2px;
  width: calc(100% + 32px);
  margin-top: 34px;
  left: -16px;
  display: block;
  background: var(--c-primary);
  content: '';
}

.shopIconContainer {
  position: absolute;
  left: 50%;
}

.currencySelect, .cartIconButton, .userIconButton {
  margin-right: 22px;
}

.cartIconButton, .userIconButton {
  font-weight: 500;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIconButton { 
  fill: #43464E
}

.notificationBadge {
  position: absolute;
  top: -6px;
  right: 9px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.modalContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIconButton {
  stroke: #43464E
} 
