.quantityContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  box-sizing: border-box;
}

.quantityButton {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 4vh;
  height: 4vh;
  border: 1px solid var(--black);
  cursor: pointer;
}

.verticalLine {
  position: absolute;
  top: 33.33%;
  bottom: 33.33%;
  border-left: 1px solid var(--black);
}

.horizontalLine {
  position: absolute;
  right: 33.33%;
  left: 33.33%;
  border-top: 1px solid var(--black);
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--black);
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

@media only screen and (max-width: 700px) {
  .quantityContainer {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
  }
}
