.productDescription {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
}

.descriptionHeadingContainer {
  margin-bottom: 4px;
}

.descriptionHeading {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  color: var(--black);
  margin: 0;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  margin: 0;
}

.productDescriptionName {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  margin: 0;
  height: auto;
  text-transform: uppercase;
}

.sizesContainer {
  display: flex;
  flex-direction: row;
}

.sizeButton {
  all: unset;
  cursor: pointer;
  border: 1px solid var(--black);
  text-align: center;
  margin-right: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  height: 3vh;
  width: 3vh;
}

.sizeButton * {
  margin: 0;
  padding: 0;
}

.selectedSizeButton {
  background: var(--black);
  color: white;
}

.quantityContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;

  box-sizing: border-box;
}

.quantityButton {
  all: unset;
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 4vh;
  height: 4vh;
  border: 1px solid var(--black);
  box-sizing: border-box;
}

.verticalLine {
  position: absolute;
  top: 33.33%;
  bottom: 33.33%;

  border-left: 1px solid var(--black);
}

.horizontalLine {
  position: absolute;
  left: 33.33%;
  right: 33.33%;

  border-top: 1px solid var(--black);
}

.quantity {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;

  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
