.smallButton {
  /* remove default styles. 
  'All: unset' does not work here because
  we pass another class name as props, 
  and 'all' remove all these properties too  */
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  position: relative;
  z-index: 1;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4.5vw;
  height: 4.5vw;

  background: var(--c-primary);
  border-radius: 50%;
}

.smallButton * {
  padding: 0;
  margin: auto;
  vertical-align: middle;
  width: 45%;
  height: 45%;
}

.smallButton svg {
  fill: white;
}

.largeButton {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 19vw;
  height: 7vh;

  background: var(--c-primary);
}

.largeButtonText {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  display: flex;
  align-items: center;
  text-align: center;

  color: white;
}
