.sideModal {
  left: -34vh;
  padding: 32px 16px;
}

.informationModal {
  left: -7vh;
  padding: 32px 16px;
}

.heading {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}

.heading .bold {
  font-weight: 700;
  text-transform: capitalize;
}

.scrollContainer {
  margin-bottom: 32px;
  max-height: 46vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.product {
  display: grid;
  grid-template-columns: 1fr auto 17vh;
  grid-template-rows: 20vh;
  gap: 8px;

  margin-bottom: 40px;
}

.product:last-child {
  margin: 0;
}

.productDescription {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
}

.descriptionHeadingContainer {
  margin-bottom: 4px;
}

.descriptionHeading {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  color: #1D1F22;
  margin: 0;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  margin: 0;
}

.productDescriptionName {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  margin: 0;
  height: auto;
  text-transform: uppercase;
}

.total {
  display: grid;
  grid-template-columns: [total-name-start] auto [total-name-end] 1fr [total-value-start] auto [total-value-start];

  margin-bottom: 32px;
}

.totalName {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: #1D1F22;

  grid-column: total-name-start/total-name-end;
}

.totalValue {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1D1F22;
  
  grid-column: total-value-start/total-value-end;
}

.buttonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.buttonContainer .button {
  max-width: 20vh;
}

