.sideModal {
  left: -34vh;
  padding: 32px 16px;
}

.informationModal {
  left: -7vh;
  padding: 32px 16px;
}

.heading {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 160%;
}

.heading .bold {
  font-weight: 700;
  text-transform: capitalize;
}

.scrollContainer {
  max-height: 46vh;
  margin-bottom: 32px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.product {
  display: grid;
  grid-template-rows: 20vh;
  grid-template-columns: 1fr auto 17vh;
  gap: 8px;
  margin-bottom: 40px;
}

.product:last-child {
  margin: 0;
}

.productDescription {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
}

.descriptionHeadingContainer {
  margin-bottom: 4px;
}

.descriptionHeading {
  margin: 0;
  color: var(--black);
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.price {
  margin: 0;
  font: var(--price-regular-small-font);
}

.productDescriptionName {
  height: auto;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
}

.total {
  display: grid;
  grid-template-columns: [total-name-start] auto [total-name-end] 1fr [total-value-start] auto [total-value-start];
  margin-bottom: 32px;
}

.totalName {
  grid-column: total-name-start/total-name-end;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
}

.totalValue {
  grid-column: total-value-start/total-value-end;
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

.buttonContainer .button {
  max-width: 20vh;
}

@media only screen and (max-width: 600px) {
  .sideModal {
    display: none;
  }
}
