.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38vh;
  height: 7vh;
  padding: 0;

  /* remove default styles.
  'All: unset' does not work here because
  we pass another class name as props,
  and 'all' remove all these properties too  */
  color: inherit;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.primaryButton {
  background: var(--c-primary);
}

.primaryButton:focus {
  outline: auto;
}

.ghostButton {
  background: #FFF;
  border: 1px solid var(--black);
}

.ghostButton:focus {
  outline: auto;
}

.buttonText {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}

.primaryButton .buttonText {
  color: white;
}

.ghostButton .buttonText {
  color: var(--black);
}
