.sizesContainer {
  max-width: 100%;
}

/* small size */
.small.sizesContainer {
  display: flex;
  flex-direction: row;
}

.small.sizeButton {
  all: unset;
  width: 3vh;
  height: 3vh;
  margin-right: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  border: 1px solid var(--black);
  cursor: pointer;
}

.small.sizeButton * {
  margin: 0;
  padding: 0;
}

.small.selectedSizeButton {
  color: white;
  background: var(--black);
}

/* large size */
.large.sizesContainer {
  display: flex;
  flex-direction: row;
}

.large.sizeButton {
  all: unset;
  flex-basis: 8vh;
  height: 6vh;
  margin-right: 12px;
  text-align: center;
  border: 1px solid var(--black);
  cursor: pointer;
}

.large.selectedSizeButton {
  color: white;
  background: var(--black);
}

@media only screen and (max-width: 400px) {
  .large.sizesContainer {
    flex: 1 auto;
    height: 10vw;
  }
}
