.heading {
  margin: 0;
  padding: 103px 16px;
  font-weight: 400;
  font-size: 42px;
  text-transform: lowercase;
}

.heading::first-letter {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .heading {
    padding: 50px 16px;
  }
}
