.form {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  box-shadow: 0 4px 10px 4px rgb(27 49 66 / 20%);
}

.tabGroup {
  box-sizing: border-box;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.tabGroup::after {
  display: table;
  clear: both;
  content: "";
}

.link {
  color: var(--c-primary);
  text-decoration: none;
  transition: 0.5s ease;
}

.link:hover {
  color: #179B77;
}

.tab .link {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
  color: #A0B3B0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background: rgb(160 179 176 / 25%);
  cursor: pointer;
  transition: 0.5s ease;
}

.tabGroup .link:hover {
  color: white;
  background: var(--c-primary);
}

.tab.active .link {
  color: white;
  background: var(--c-primary);
}

.tabContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.heading {
  display: inline-block;
  margin: 0 0 40px;
  color: rgb(19 35 47 / 90%);
  font-weight: 300;
  text-align: center;
  visibility: hidden;
}

.heading.animation {
  visibility: visible;
  animation: 2s ease-out backwards animate-fade;
}

.label {
  position: absolute;
  left: 13px;
  display: flex;
  align-items: center;
  color: #A0B3B0;
  font-size: 22px;
  transform: translateY(5px);
  transition: all 0.25s ease;
  pointer-events: none;
}

.label.active {
  left: 2px;
  font-size: 14px;
  transform: translateY(35px);
}

.req {
  margin: 2px;
  color: var(--c-primary);
  font-size: 30px;
}

.label.active .req {
  display: none;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: var(--black);
  font-size: 22px;
  background: none;
  background-image: none;
  border: 2px solid #A0B3B0;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.input:focus {
  border-color: var(--c-primary);
  outline: 0;
}

.input:focus .label {
  color: rgb(19 35 47 / 90%);
}

.fieldContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.submit {
  width: 100%;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
