.overlay {
  z-index: -1 !important;
}

.select {
  position: relative;
}

.selectButton {
  all: unset;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5vh;
  height: 4vh;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.downArrow {
  padding-left: 10px;
  stroke: black;
}

.upArrow {
  padding-right: 10px;
  padding-left: 0;
  transform: rotate(180deg);
}

.dropListContainer {
  position: absolute;
  top: 4.5vh;
  right: 0;
  left: -1.2vw;
  z-index: 1;
  width: 15vh;
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 35px 0 #A8ACB030;
  animation-name: animate-fade;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.ul {
  margin: 0;
  padding: 7px 0;
  list-style: none;
}

.li {
  all: unset;
  width: calc(100% - 40px);
  margin: 0;
  padding: 13px 20px;
  white-space: nowrap;
  border-radius: 2px;
  cursor: pointer;
}

.li:hover {
  background: #EEE;
}

.selectedLi {
  background: #EEE;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 600px) {
  .dropListContainer {
    left: -17.2vw;
  }

  .downArrow {
    padding-left: 8px;
  }

  .upArrow {
    padding-right: 8px;
  }
}
