:root {
  /* colors */
  --c-primary: #5ECE7B;
  --black: #1D1F22;

  /* fonts */
  --primary-font-family: raleway, sans-serif;
  --price-regular-small-font: 500 16px/26px var(--primary-font-family);
  --price-regular-font: 500 18px/29px var(--primary-font-family);
  --price-bold-font: 700 24px/24px var(--primary-font-family);
}

.wrapper {
  font-family: var(--primary-font-family);
  font-style: normal;
  line-height: 160%;

  /* This property makes numbers aligned */
  font-feature-settings: "lnum";
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 85px 100px 0;
}

.main.disablePadding {
  padding: 85px 0 0 !important;
}

@media only screen and (max-width: 800px) {
  .main {
    padding: 85px 50px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 75px 11px 11px;
  }
}
