:root {
  --c-primary: #5ECE7B;
  --price-regular-font: 500 18px/29px Raleway, sans-serif;
  --black: #1D1F22;
}

.wrapper {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  line-height: 160%;
}

.main {
  padding: 0 100px;
  box-sizing: border-box;
}
