.productDescription {
  grid-column: product-description-start/product-description-end;
}

.brandName {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.categoryName {
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.productDescriptionName {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.sizesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.sizeButton {
  all: unset;
  position: relative;
  box-sizing: border-box;
  width: 8vh;
  height: 6vh;
  margin-right: 12px;
  text-align: center;
  border: 1px solid var(--black);
  cursor: pointer;
}

.selectedSizeButton {
  color: white;
  background: var(--black);
}

.outOfStockSize {
  color: black;
  background: white;
  border: 1px solid var(--black);
}

.outOfStockSize::after {
  position: absolute;
  display: block;
  background: white;
  opacity: 0.5;
  content: "";
  inset: -2px;
}

.price {
  margin-bottom: 20px;
  font: var(--price-bold-font);
}

.addToCart {
  margin-bottom: 40px;
  transition: all 1s ease-out 0.5s;
}

.description {
  max-width: 19rem;
  margin: 15px 0;
  padding: 0;
  white-space: pre-line;
}

@media only screen and (max-width: 850px) {
  .productDescription {
    grid-column: 1;
    order: 3;
    width: 100%;
  }

  .description {
    width: 80%;
    max-width: none;
  }
}

@media only screen and (max-width: 500px) {
  .addToCart {
    box-sizing: border-box;
    width: 100%;
  }

  .description {
    width: 100%;
  }
}
